.header {
  background: url("Background.png") no-repeat fixed bottom;
  background-size: cover;
  /* background-image: url("Background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; */
  display: flex;
  flex-direction: column;
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.img-logo {
  height: 10%;
  width: auto;
  max-height: 30px;
}
h1 {
  font-size: 320%;
  font-weight: 800;
  line-height: 65px;
  text-align: center;
  padding: 0 10%;
}
.header__description {
  text-align: center;
  font-size: 110%;
}
#snipper {
  margin: 0 20px 25px 20px;
}
#credit {
  margin-bottom: 40px;
}
button {
  background-color: black;
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 110%;
}
button span {
  font-weight: bold;
  color: white;
}

/* Smartphone view */
@media (max-width: 575px) {
  .header {
    padding: 12% 7% 0% 7%;
    justify-content: flex-start;
  }
  .header__tablet {
    display: none;
  }
  .img-hamburger {
    width: 5%;
    height: auto;
    min-width: 20px;
  }
  h1 {
    margin-bottom: 5px;
  }
  .header__description {
    margin: 0 20px;
  }
  #credit {
    margin-top: 20px;
  }
  button {
    padding: 20px;
  }
}

/* Tablet view and computer screen*/
@media (min-width: 576px) {
  .header {
    padding: 2% 9% 0% 9%;
  }
  .img-hamburger {
    display: none;
  }
  .header nav {
    align-items: center;
  }
  .header__tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 100%;
  }
  li {
    margin: 0 5px 0 5px;
    cursor: pointer;
  }
  .header__tablet img {
    width: 80%;
    height: auto;
  }
  .header__nav-button {
    font-size: 90%;
    padding: 10px 10px;
  }
  .header__button {
    width: 50%;
    padding: 20px 0px;
    margin: 0 25%;
  }
}
